<!doctype html>
<html lang="pt-pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages%2FLcdoap7xi.png&f=1">
    <!-- Bootstrap CSS -->
    
    

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/date-eu.js"></script>
        
        <script>$(function () {
      $("#Tabela").DataTable({
        "columns": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ]
      });
    })</script>

    <title>Admin</title>
  </head>
  <body background="{{ url_for('static', filename='img1.jpg')}}" style="background-size: 100%; ">
      <br>
      <br>
      <section>
        <div class = "container">
            <div class = "row">
              <div class="col-md-12" style="background-color:rgba(32, 32, 32, 0.9)">
                <h1 style="text-align: center; color: wheat"><b>Bem Vindo {{ Cliente_User }}</b></h1>
                
                
                
                
                
                <h3 style="color: wheat">Viaturas:</h3>
                <!-- Variavel_TESTE -->
                <table id="Tabela" class="table table-dark" style="color: wheat">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Matricula</th>
                        <th>Condutor</th>
                        <th>KM</th>
                        <th>Valor Faturado</th>
                        <th>Servicos</th>
                        <th>Estado</th>
                        <th>Tipo</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Citroen</td>
                        <td>12-XC-34</td>
                        <td>Jeff</td>
                        <td>45000</td>
                        <td>10€</td>
                        <td>27</td>
                        <td>Ativo</td>
                        <td>carro</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Audi</td>
                        <td>72-TY-57</td>
                        <td>Wilson</td>
                        <td>245000</td>
                        <td>40€</td>
                        <td>33</td>
                        <td>Ativo</td>
                        <td>carrinha</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Ferrari</td>
                        <td>99-MNC-3</td>
                        <td>Milson</td>
                        <td>9000</td>
                        <td>150€</td>
                        <td>14</td>
                        <td>Ativo</td>
                        <td>carro</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>lamborghini</td>
                        <td>75-IAP-80</td>
                        <td>Flinsc</td>
                        <td>316851</td>
                        <td>155€</td>
                        <td>15</td>
                        <td>Ativo</td>
                        <td>carro</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Alfa Romeo</td>
                        <td>45-PP-19</td>
                        <td>Jason</td>
                        <td>6431</td>
                        <td>70€</td>
                        <td>17</td>
                        <td>Ativo</td>
                        <td>carro</td>
                      </tr>
                    </tbody>
                  </table>




                
              </div>
            </div>
          </div>
        </section>
    
  </body>
</html>