<!doctype html>
<html lang="pt-pt">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fclipart-library.com%2Fimages%2FLcdoap7xi.png&f=1">
    <!-- Bootstrap CSS -->
    
    

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.12/sorting/date-eu.js"></script>
        
        <script>$(function () {
      $("#Tabela").DataTable({
        "columns": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ]
      });
    })</script>

  <script>$(function () {
    $("#Tabela2").DataTable({
      "columns": [
        null,
        null
      ]
    });
  })</script>
      <script>
        function Painel1(x)
        {
          if (x==0)//Mostra painel
          document.getElementById('Painel_Viaturas').style.display='block';
          else
          document.getElementById('Painel_Viaturas').style.display='none';
          return;
        }
      </script>

      <script>
       function Painel2(x)
        {
          if (x==0)
          document.getElementById('Painel_Clientes').style.display='block';
          else
          document.getElementById('Painel_Clientes').style.display='none';
          return;
        }
      </script>
    <title>Admin</title>
  </head>
  <body background="{{ url_for('static', filename='img1.jpg')}}" style="background-size: 100%; ">
      
      <br>
      <br>
      <section>
        <div class = "container">
            <div class = "row">
              <div class="col-md-12" style="background-color:rgba(32, 32, 32, 0.9)">
                <h1 style="text-align: center; color: wheat"><b>Bem Vindo {{ Cliente_User }}</b></h1>
                
                <div class="col-md-4">
                    <label style="color: wheat">Viaturas</lae> <input type="radio" name="rad1" onclick="Painel1(0); Painel2(1)" checked> 
                </div>
                <br><br>
                <div class="col-md-4">
                    <label style="color: wheat">Clientes</label> <input type="radio" name="rad1" onclick="Painel1(1); Painel2(0)" checked>
                </div>
                <br><br>
                <section id="Painel_Viaturas">
                
                
                <h3 style="color: wheat">Viaturas:</h3>
                <form action="/Admin" method="POST">
                  <div class="col-md-6">
                  <br>
                  <button type="submit" name="BT_VEICULO" class="btn btn-primary btn-lg btn-block border-0 rounded-0" style="background-color: red" value="ADICIONAR">Adicionar Veiculo</button>
                  </div>

                  <div class="col-md-6">
                    <br>
                    <button type="submit" name="BT_VEICULO" class="btn btn-primary btn-lg btn-block border-0 rounded-0" style="background-color: red" value="REMOVER">Remover Veiculo</button>
                    </div>
                </form>
                <br><br><br><br>
                <!-- Variavel_TESTE -->
                <table id="Tabela" class="table table-dark" style="color: wheat">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Matricula</th>
                        <th>Condutor</th>
                        <th>KM</th>
                        <th>Valor Faturado (€)</th>
                        <th>Servicos</th>
                        <th>Estado</th>
                        <th>Tipo</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% with veiculos = get_flashed_messages(category_filter=["veiculo"]) %}
                        {% if veiculos %}
                          {% for message in veiculos %}
                            {{ message }}
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
                    </tbody>
                  </table>


                </section>

                <section id="Painel_Clientes">
                
                
                    <h3 style="color: wheat">Clientes:</h3>
                    
                    <br><br><br><br>
                    <!-- Variavel_TESTE -->
                    <table id="Tabela2" class="table table-dark" style="color: wheat">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nome</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% with messages = get_flashed_messages(category_filter=["cliente"]) %}
                            {% if messages %}
                              {% for message in messages %}
                                {{ message }}
                              {% endfor %}
                            {% endif %}
                          {% endwith %}
                        </tbody>
                      </table>
    
    
                    </section>
                
              </div>
            </div>
          </div>
        </section>
    
  </body>
</html>